/keys/
/ml-class/
/wandb/
/venv/
*.pyc

/CellEnMon/venv/
/CellEnMon/libs/relics/radar
/CellEnMon/libs/relics/*/raw


/venv
.idea
/libs/scrappers/PLOT_IMAGES 2/TEST_DATA/
/libs/scrappers/PLOT_IMAGES 2/MAT_files/
/libs/scrappers/PLOT_IMAGES 2/IMAGEOUT/
/libs/scrappers/radar_scrapper/TEST_DATA/PAdaily201804270600.asc.gz
/libs/scrappers/radar_scrapper/TEST_DATA/RMdaily201804270600.asc.gz
/libs/scrappers/radar_scrapper/TEST_DATA/RRdaily201804270600.asc.gz
/libs/scrappers/radar_scrapper/IMAGEOUT/
/libs/scrappers/radar_scrapper/MAT_files/
/libs/relics/datasets/radar/
/CellEnMon/datasets/ims/raw/
/CellEnMon/datasets/dme/raw/
/CycleGAN/

/CellEnMon/checkpoints
/CellEnMon/cellenmon-e840a9ba53e8.json
