matplotlib==3.2.1
tensorflow
wandb==0.12.11
Keras==2.3.1
pytest==5.4.1
onnxruntime==1.2.0
keras2onnx==1.6.1
bs4==0.0.1
lxml==4.5.0
Pillow==7.1.2
numpy
onnxruntime==1.2.0
keras2onnx==1.6.1
pandas
selenium
sklearn
pyproj
ansible==2.4.0.0
ansible_vault==1.1.2
scikit-learn==1.1.1
numpy==1.19.5

#visualize
folium
vincent

#scrapper
webdriver-manager
google-cloud-storage==1.41.1

#web-platform
uvicorn
jinja2
sqlalchemy
databases

#train
dominate>=2.4.0
visdom>=0.1.8.8
torch==1.10.1
torchvision==0.11.2
plotly


html==1.13
